# Relatorio de Analise V

## Tratamento de Dados Faltantes

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('aluguel_residencial.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [4]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
5      False   False    False  False   False  False  False       False  False
6      False   False    False  False   False  False  False        True   True
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False       False  False
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False   True
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False        True   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False       False  False
17     False   False    False  False   False  False  False       False  False
18     False   False    False  False   False  False  False       False   True
19     False   False    False  False   False  False  False       False   True
20     False   False    False  False   False  False  False       False   True
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False  False
23     False   False    False  False   False  False  False       False  False
24     False   False    False  False   False  False  False        True   True
25     False   False    False  False   False  False  False       False   True
26     False   False    False  False   False  False  False       False  False
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False   True
29     False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22550  False   False    False  False   False  False  False       False  False
22551  False   False    False  False   False  False  False       False  False
22552  False   False    False  False   False  False  False       False  False
22553  False   False    False  False   False  False  False       False  False
22554  False   False    False  False   False  False  False       False  False
22555  False   False    False  False   False  False  False       False   True
22556  False   False    False  False   False  False  False       False   True
22557  False   False    False  False   False  False  False       False  False
22558  False   False    False  False   False  False  False        True  False
22559  False   False    False  False   False  False  False       False  False
22560  False   False    False  False   False  False  False       False  False
22561  False   False    False  False   False  False  False       False  False
22562  False   False    False  False   False  False  False       False  False
22563  False   False    False  False   False  False  False       False  False
22564  False   False    False  False   False  False  False       False  False
22565  False   False    False  False   False  False  False       False  False
22566  False   False    False  False   False  False  False       False  False
22567  False   False    False  False   False  False  False       False  False
22568  False   False    False  False   False  False  False       False   True
22569  False   False    False  False   False  False  False       False  False
22570  False   False    False  False   False  False  False       False  False
22571  False   False    False  False   False  False  False       False  False
22572  False   False    False  False   False  False  False       False  False
22573  False   False    False  False   False  False  False       False   True
22574  False   False    False  False   False  False  False       False  False
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [5]:
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
5      True    True     True   True    True  True   True        True   True
6      True    True     True   True    True  True   True       False  False
7      True    True     True   True    True  True   True       False  False
8      True    True     True   True    True  True   True       False  False
9      True    True     True   True    True  True   True        True   True
10     True    True     True   True    True  True   True        True   True
11     True    True     True   True    True  True   True        True   True
12     True    True     True   True    True  True   True        True  False
13     True    True     True   True    True  True   True        True   True
14     True    True     True   True    True  True   True       False  False
15     True    True     True   True    True  True   True        True   True
16     True    True     True   True    True  True   True        True   True
17     True    True     True   True    True  True   True        True   True
18     True    True     True   True    True  True   True        True  False
19     True    True     True   True    True  True   True        True  False
20     True    True     True   True    True  True   True        True  False
21     True    True     True   True    True  True   True        True   True
22     True    True     True   True    True  True   True        True   True
23     True    True     True   True    True  True   True        True   True
24     True    True     True   True    True  True   True       False  False
25     True    True     True   True    True  True   True        True  False
26     True    True     True   True    True  True   True        True   True
27     True    True     True   True    True  True   True        True   True
28     True    True     True   True    True  True   True        True  False
29     True    True     True   True    True  True   True        True   True
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
22550  True    True     True   True    True  True   True        True   True
22551  True    True     True   True    True  True   True        True   True
22552  True    True     True   True    True  True   True        True   True
22553  True    True     True   True    True  True   True        True   True
22554  True    True     True   True    True  True   True        True   True
22555  True    True     True   True    True  True   True        True  False
22556  True    True     True   True    True  True   True        True  False
22557  True    True     True   True    True  True   True        True   True
22558  True    True     True   True    True  True   True       False   True
22559  True    True     True   True    True  True   True        True   True
22560  True    True     True   True    True  True   True        True   True
22561  True    True     True   True    True  True   True        True   True
22562  True    True     True   True    True  True   True        True   True
22563  True    True     True   True    True  True   True        True   True
22564  True    True     True   True    True  True   True        True   True
22565  True    True     True   True    True  True   True        True   True
22566  True    True     True   True    True  True   True        True   True
22567  True    True     True   True    True  True   True        True   True
22568  True    True     True   True    True  True   True        True  False
22569  True    True     True   True    True  True   True        True   True
22570  True    True     True   True    True  True   True        True   True
22571  True    True     True   True    True  True   True        True   True
22572  True    True     True   True    True  True   True        True   True
22573  True    True     True   True    True  True   True        True  False
22574  True    True     True   True    True  True   True        True   True
22575  True    True     True   True    True  True   True        True   True
22576  True    True     True   True    True  True   True        True   True
22577  True    True     True   True    True  True   True        True   True
22578  True    True     True   True    True  True   True        True   True
22579  True    True     True   True    True  True   True        True  False

[22580 rows x 9 columns]

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          22580 non-null object
Bairro        22580 non-null object
Quartos       22580 non-null int64
Vagas         22580 non-null int64
Suites        22580 non-null int64
Area          22580 non-null int64
Valor         22571 non-null float64
Condominio    20765 non-null float64
IPTU          15795 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [8]:
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [10]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

9

In [11]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

## Tratamento de dados faltantes (Continuação)

In [14]:
dados[dados['Condominio'].isnull()].shape[0]

1813

In [15]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [16]:
# ~ inverte a selecao
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [17]:
dados[dados['Condominio'].isnull()].shape[0]

1068

In [18]:
dados[dados['Condominio'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
85,Casa de Vila,Piedade,2,1,0,70,1300.0,NaN,NaN
100,Casa,Maracanã,8,3,5,259,7000.0,NaN,NaN
104,Casa,Benfica,1,0,0,33,1200.0,NaN,NaN
150,Casa,Jardim Carioca,3,2,1,135,3000.0,NaN,NaN
166,Casa,Lins de Vasconcelos,2,0,0,40,950.0,NaN,50.0
230,Casa de Vila,Oswaldo Cruz,1,0,1,40,800.0,NaN,NaN
248,Casa,Grajaú,5,4,2,450,7000.0,NaN,500.0
263,Casa,Campo Grande,3,0,0,200,2100.0,NaN,NaN
274,Casa,Bonsucesso,2,0,0,51,1000.0,NaN,NaN
297,Casa,Engenho Novo,2,0,0,70,1100.0,NaN,NaN
314,Casa de Vila,Quintino Bocaiúva,2,1,0,48,750.0,NaN,NaN
321,Casa,Jardim Botânico,2,4,1,107,9500.0,NaN,1091.0
327,Casa,Recreio dos Bandeirantes,4,4,2,367,12000.0,NaN,653.0
345,Casa,Botafogo,12,5,0,500,18000.0,NaN,1800.0
350,Casa,Catete,10,0,10,300,15000.0,NaN,220.0
366,Quitinete,Gardênia Azul,1,0,0,20,485.0,NaN,NaN
368,Casa,São Conrado,4,0,4,1200,25000.0,NaN,NaN
389,Casa,Campo Grande,2,1,2,100,1500.0,NaN,30.0
410,Casa,Santa Teresa,5,3,0,260,7000.0,NaN,163.0
436,Casa,Vila da Penha,1,0,0,40,850.0,NaN,NaN
439,Quitinete,Centro,1,0,1,15,750.0,NaN,NaN
446,Casa,Vaz Lobo,1,0,0,35,400.0,NaN,NaN
493,Casa,Campo Grande,2,1,0,100,1300.0,NaN,NaN
558,Casa,Campo Grande,2,0,0,70,1000.0,NaN,NaN
583,Casa,Ramos,2,0,0,40,950.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22028,Casa de Condomínio,São Cristóvão,2,0,2,120,2000.0,NaN,NaN
22031,Casa,Jacaré,2,1,0,80,1500.0,NaN,150.0
22044,Casa,Campo Grande,1,1,0,61,830.0,NaN,NaN
22067,Casa de Vila,Olaria,1,0,0,40,800.0,NaN,NaN
22073,Casa,Curicica,3,5,1,150,2500.0,NaN,1200.0
22096,Casa de Vila,Tijuca,2,0,0,75,2200.0,NaN,NaN
22109,Casa de Vila,Riachuelo,2,0,0,43,1000.0,NaN,120.0
22110,Casa,Inhoaíba,1,0,0,50,600.0,NaN,NaN
22132,Casa,Pechincha,5,3,1,300,3000.0,NaN,290.0
22144,Casa,Méier,4,1,0,180,2500.0,NaN,80.0
22190,Casa,Irajá,2,1,1,60,1150.0,NaN,NaN
22192,Casa,Jardim Botânico,7,6,4,845,35000.0,NaN,NaN
22198,Casa,Turiaçu,2,1,0,45,700.0,NaN,NaN
22290,Casa,Campo Grande,2,0,0,116,1100.0,NaN,NaN
22293,Casa,Centro,2,0,0,207,4000.0,NaN,NaN
22303,Casa,Campo Grande,3,0,1,140,1500.0,NaN,NaN
22311,Casa,Taquara,3,3,0,280,4000.0,NaN,1200.0
22329,Casa,Rocha Miranda,1,0,0,44,700.0,NaN,NaN
22332,Casa,Andaraí,3,1,0,75,2950.0,NaN,NaN
22338,Casa de Vila,Quintino Bocaiúva,2,0,0,58,1000.0,NaN,NaN
22365,Casa,Engenho Novo,1,0,0,40,450.0,NaN,NaN
22420,Casa,Maracanã,4,2,1,240,6500.0,NaN,700.0
22425,Casa,Campo Grande,2,1,2,86,1500.0,NaN,NaN
22452,Casa,Vila da Penha,2,1,0,80,1500.0,NaN,NaN
22469,Casa de Vila,Riachuelo,3,0,0,73,850.0,NaN,NaN
22510,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
22516,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
22535,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0

In [19]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [21]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [22]:
dados[dados['Condominio'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [23]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [24]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          21826 non-null object
Bairro        21826 non-null object
Quartos       21826 non-null int64
Vagas         21826 non-null int64
Suites        21826 non-null int64
Area          21826 non-null int64
Valor         21826 non-null float64
Condominio    21826 non-null float64
IPTU          21826 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [26]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [27]:
dados.to_csv('aluguel_residencial.csv', sep=';', index = False)